.action-container {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    gap: 25px;
    width: 600px;
    height: 30px;
}

.base-actions {
    display: flex;
    gap: 10px;
}

.other-actions {
    display: flex;
    gap: 10px;
}


.icons-container {
    display: flex;
    gap: 12px;
}

.qr-header {
    padding-left: 20px;
    padding-right: 20px;

}

.qr-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    position: relative;
    padding-bottom: 20px;
}

.qr-code {
    width: auto;
    height: auto;
    padding: 10px;
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px;
}

.qr-delete {
    size: 50px;
    position: absolute;
    right: 250px;
    cursor: pointer;    
}

.qr-download {
    size: 50px;
    position: absolute;
    right: 200px;
    cursor: pointer;
}

svg,
img {
    cursor: pointer;
}

svg:hover {
    width: 25px;
    height: 25px;
    /* border: 2px solid rgb(255, 255, 255); */
    /*box-shadow: 0px 0px 5px rgb(170, 170, 170); */
    border-radius: 3px;
}