.user-header-container {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
}

.follow-text {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.follow-number {
    font-weight: normal;
}

.divider {
    padding-left: 50px;
    padding-right: 50px;
}

.bio-header {
    font-weight: bold;
}

.user-bio {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
}

.user-header-spins {
    border-bottom: 1.5px solid white;
}

[data-theme='light'] .user-bio {
    border-color: black;
}

[data-theme='dark'] .user-bio {
    border-color: white;
}