.select-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.dropdown-title {
    display: flex;
    justify-content: flex-end;
    padding: 8px;   
}

.select-dropdown {
    width: 100px;
    border-radius: 4px;
    padding: 8px;
}