.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.select-container {
    display: flex;
    align-items: center;
}

.dropdown-title {
    margin-right: 8px;
    font-size: 16px;
    font-weight: bold;
}

.select-dropdown {
    width: 200px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    padding: 8px;
}

.counter-container {
    font-size: 16px;
    font-weight: bold;
}
